---
import Body from "./Body.astro";
import Media from "./Media.astro";
import type { Project } from "../../../data/projects";

interface Props extends Pick<Project, "title" | "contribution" | "img"> {
  isSmaller: boolean;
}

const { contribution, title, img, isSmaller } = Astro.props;
---

<article class={`${isSmaller ? "lg:col-span-2" : "lg:col-span-3"}`}>
  <a class="rounded-3xl flex flex-col gap-4" href={`/project/${title}`}>
    <Media title={title} img={img} />
    <Body contribution={contribution} title={title} />
  </a>
</article>

<style>
  article {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 550ms, opacity 750ms;
  }

  article.active {
    transform: translateY(0);
    opacity: 1;
  }
</style>
