---
import { Project } from "../data/projects";

export interface Props extends Project {
  idx: number;
}

const { idx, description, img, title, stack } = Astro.props;
---

<article
  class={`group h-fit bg-stone-800 border-2 border-stone-700/50 rounded-xl overflow-hidden shadow-md relative
  ${idx % 2 === 0 ? "" : "md:-translate-y-[50%]"}`}
>
  <div
    class="w-full aspect-square overflow-hidden transition group-hover:blur-md"
  >
    {
      img ? (
        <img
          src={img}
          class="aspect-square object-cover"
          alt={`${title} project`}
        />
      ) : (
        <div class="h-full grid place-content-center">
          <p class="text-4xl font-bold">WIP</p>
        </div>
      )
    }
  </div>
  <div
    class="w-full h-[75%] bg-gradient-to-b from-stone-900/90 absolute inset-0 transition-transform duration-500 group-hover:translate-y-full group-hover:opacity-0"
  >
  </div>
  <div class="p-4 absolute inset-0">
    <h4
      class="mb-2 text-2xl font-bold text-rose-100/90 line-clamp-1 md:-translate-y-20 md:group-hover:translate-y-0 md:transition duration-500"
    >
      {title}
    </h4>
    <p
      class="hidden mb-4 text-md text-rose-100/70 md:line-clamp-3 lg:line-clamp-none"
    >
      {description}
    </p>
    <div class="hidden md:flex gap-2 justify-start md:flex-wrap">
      {
        stack.map(({ name, icon: Icon, bg, bd, fg }) => (
          <div
            data-tech
            class={`py-1 px-2 text-xs font-bold border rounded-md flex shrink-0 items-center gap-2
              ${bg ?? "bg-gray-200/20"}
              ${fg ?? "text-gray-200"}
              ${bd ?? "border-gray-200/40"}`}
          >
            <Icon />
            <span>{name}</span>
          </div>
        ))
      }
    </div>
  </div>
</article>
