---
import { Project } from "../data/projects";

export interface Props extends Project {
  idx: number;
}

const { idx, description, img, title, stack } = Astro.props;
---

<article
  class={`group h-fit bg-stone-800 border-2 border-stone-700/50 rounded-xl overflow-hidden shadow-md
  ${idx % 2 === 0 ? "" : "md:-translate-y-[75%]"}`}
>
  {
    img ? (
      <div class="overflow-hidden">
        <img
          src={img}
          class="w-full aspect-video object-cover transition-transform group-hover:scale-[1.025]"
          alt={`${title} project`}
        />
      </div>
    ) : (
      <div class="w-full aspect-video grid place-content-center">
        <p class="text-4xl font-bold">WIP</p>
      </div>
    )
  }
  <div class="p-4 lg:p-8 lg:pt-4">
    <h4 class="mb-2 text-2xl font-bold text-rose-100/90 truncate">
      {title}
    </h4>
    <p class="mb-4 text-md text-rose-100/70 line-clamp-3">{description}</p>
    <div class="flex flex-wrap gap-2">
      {
        stack.map(({ name, icon: Icon, bg, bd, fg }) => (
          <span
            data-tech
            class={`py-1 px-2 text-xs font-bold border rounded-md flex items-center gap-2
              ${bg ?? "bg-gray-200/20"}
              ${fg ?? "text-gray-200"}
              ${bd ?? "border-gray-200/40"}`}
          >
            <Icon />
            {name}
          </span>
        ))
      }
    </div>
  </div>
</article>
